In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford","Bolero"],
  'passings': [3, 7, 2,9]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

     cars  passings
0     BMW         3
1   Volvo         7
2    Ford         2
3  Bolero         9

In [3]:
print(pd.__version__)

1.4.4

In [4]:
a=[1,7,2]

In [5]:
myvar=pd.Series(a)

In [6]:
myvar

0    1
1    7
2    2
dtype: int64

In [7]:
print(myvar[0])

1

In [8]:
# print own labels

In [9]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [10]:
print(myvar["y"])

7

In [11]:
print(myvar["y"])

7

In [12]:
#we can also use a key/value object, like a dictionary, when creating a Series.

In [13]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [14]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [15]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [16]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [17]:
#refer to the row index:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [18]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [19]:
# With the index argument, we can name your own indexes.

In [20]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45